.wrapper {
  margin-block-start: 24px;
  max-width: 60%;
  @media (max-width: 576px) {
    max-width: 100%;
  }
}

.label {
  display: inline-block;
  margin-block-end: 0.5em;

  font-size: 1rem;

  @media (max-width: 374px) {
    font-size: 0.8rem;
  }
}
