.app {
  background-color: var(--clr-white);
}

.container {
  min-height: calc(100vh - 50px);
  padding: 80px 20px 50px;

  @media (max-width: 576px) {
    padding-inline: 16px;
    padding-block-start: 50px;
  }
}
