.app {
  // width: 100%;
  height: calc(100vh - 50px);
  // padding-block-start: 80px;
  background-image: url("./assets/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
}

.btn-clear {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border: none;
}